
@media screen and (max-width:576px) {
    .chef-image{
        height: 320px !important;
    }
    .chef{
        margin-top: 30px;
    }
}

.chef-image span{
    height: 100%;
    width: 100%;
}
.chef-image span img{
    height: 100%;
    width: 100%;
}